<script type="text/javascript">

</script>

<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="header">
              <h4 class="title">Reports</h4>
          </div>
          <div class="content">
              <ul class="nav nav-tabs" role="tablist">
                  <li class="active" role="presentation">
                      <a data-toggle="tab" href="#trial" aria-expanded="true">Test Data</a>
                  </li>
              </ul>
              <div class="tab-content">
                  <div class="tab-pane active" id="trial">
                    <div class="col-md-12" style="min-height: 50vh;">
                        <iframe width="100%" height="750" src="https://app.powerbi.com/view?r=eyJrIjoiOGFmMDBkZDQtYTk1ZS00YjE5LWExZDAtOGMyZWMyY2VkYzg5IiwidCI6IjU3ODllYTFkLTEzZGUtNGUxMy05MjU2LWQxNzUxMzdlMjI2YyJ9" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <br/>
                    <p class="category">Legitimate Demo Data</p>
                  </div>
             </div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="card ">
              <div class="header">
                  <h4 class="title">Export Data</h4>
              </div>
              <div class="content">
                  <div class="row">
                      <div class="col-md-12">
                        <h1 class="unselectable" style="text-align: center;">COMING SOON</h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
